body {
    overflow-y: scroll;
    background-color: #888888 !important;
}
.handwritten-font {
    font-family: 'Indie Flower', serif;
}
.q-toolbar__title > a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}